<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.jpg" alt="profile-photo" class="img-fluid" id="profilephoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Pegoraro Manuel Alberto</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eaque et illum eos laborum fuga labore nulla. Repellendus, corrupti iure reprehenderit officiis esse tempora ut quam labore, ratione laboriosam totam.</p>
        </span>
    </div>
</div>
