<div class="row">
    <h1> Educacion</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h1>Informatorio Etapa 1</h1> - <h3>(carga horaria)</h3>
            </li>
            <p>
                El informatorio es un curso de programacion realizado y financiado por el Gobierno del Chaco, la primer etapa del curso se realiza en la plataforma mumuki.
                Abarca los temas de: 1) Fundamentos de la programacion (con Gobstones). 2) Programacion Imperativa (con JavaScript)
            </p>
        </ul>
        <ul>
            <li>
                <h1>Informatorio Etapa 2</h1> - <h3>(carga horaria)</h3>
            </li>
            <p>
                Informatorio Etapa 2 - Desarrollo Web: En la segunda etapa del curso Informatorio nos adentramos en el mundo del desarrollo web con Python y MySql.
                Esta etapa cuenta con una carga horaria de 10 horas semanales y una duracion de 4 meses
            </p>
        </ul>
        <ul>
            <li>
                <h1>Se Programar</h1> - <h3>(Carga horaria)</h3>
            </li>
            <p>
                Es un curso realizado en la plataforma Mumuki. Abarca los temas de: 1) Fundamentos de la programacion (con Gobstones) 2) Programacion Imperativa (con JavaScript)
                3) Programacion Orientada a Objetos(con Ruby). El curso está avalado por "cessi Argentina", "INTI" y el "Ministerio de Desarrollo Productivo Argentina"
            </p>
        </ul>
    </div>
</div>