<div>
    <a href="#"><img src="../../../assets/instagram.png" alt="Logo Instagram"  class="instagram"></a>
    <a href="#"><img src="../../../assets/facebook.png" alt="Logo Facebook"  class="Facebook"></a>
    <a href="#"><img src="../../../assets/linkedin.png" alt="Logo Linkedin"  class="Linkedin"></a>
    <a href="#"><img src="../../../assets/twitter.png" alt="Logo Twitter"  class="Twitter"></a>
    <a href="#"> <img src="../../../assets/github.png" alt="Logo GitHub" class="Github"></a>
</div>
