<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos alias, debitis blanditiis numquam pariatur explicabo iure nemo laudantium, odio nisi repellendus fugiat ducimus, incidunt laborum aspernatur eveniet impedit. Nemo, quo. </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos alias, debitis blanditiis numquam pariatur explicabo iure nemo laudantium, odio nisi repellendus fugiat ducimus, incidunt laborum aspernatur eveniet impedit. Nemo, quo. </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos alias, debitis blanditiis numquam pariatur explicabo iure nemo laudantium, odio nisi repellendus fugiat ducimus, incidunt laborum aspernatur eveniet impedit. Nemo, quo. </p>
        </ul>
    </div>
</div>