<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte-texto">
            <h2>Proyecto 1</h2>
            <p>Este proyecto se realizó en la etapa final del curso "INFORMATORIO ETAPA 2" donde se realiza con el lenguaje python y una base de datos con MySQL</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte-img">
            <img src="../../../assets/img-project.jpg" alt="Imagen ilustrativa que dice Project" class="img-fluid img-proyecto">
        </div>
    </div>
</div>