<div class="row">
    <h1>Hard & Soft skills</h1>

    <div class="text-center col-lg-3">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="'HTML'"
        [subtitleColor]="'black'"
        [titleFontSize]="'30px'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#2374AB'"
        [innerStrokeColor]="'#ccc'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-lg-3">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="'CSS'"
        [subtitleColor]="'black'"
        [titleFontSize]="'30px'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#2374AB'"
        [innerStrokeColor]="'#ccc'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-lg-3">
        <circle-progress
        [percent]="15"
        [radius]="70"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="'JavaScript'"
        [subtitleColor]="'black'"
        [titleFontSize]="'30px'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#2374AB'"
        [innerStrokeColor]="'#ccc'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-lg-3">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="'Python'"
        [subtitleColor]="'black'"
        [titleFontSize]="'30px'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#2374AB'"
        [innerStrokeColor]="'#ccc'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="70"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="'Responsabilidad'"
        [subtitleColor]="'black'"
        [titleFontSize]="'30px'"
        [subtitleFontSize]="'14px'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#231651'"
        [innerStrokeColor]="'#ccc'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="'Resiliencia'"
        [subtitleColor]="'black'"
        [titleFontSize]="'30px'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#231651'"
        [innerStrokeColor]="'#ccc'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="70"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="'Compromiso'"
        [subtitleColor]="'black'"
        [titleFontSize]="'30px'"
        [subtitleFontSize]="'18px'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#231651'"
        [innerStrokeColor]="'#ccc'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="70"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="'Flexibilidad'"
        [subtitleColor]="'black'"
        [titleFontSize]="'30px'"
        [subtitleFontSize]="'18px'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#231651'"
        [innerStrokeColor]="'#ccc'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>


</div>